<!DOCTYPE html>
<html lang="en">
<%- include('includes/head'); %>
<link rel="stylesheet" href="/css/index.css">

    <body>
        <%- include('includes/nav'); %>
            <div class="container">
                <% if (message.type) { %>
                   <script>
                       Swal.fire({
                        title: 'LOLIPOPZ',
                        text: '<%= message.body %>',
                        icon: '<%= message.type %>',
                        confirmButtonText: 'OK'
})
                   </script>
                        <%= message.body %>
                    </div>
                    <% } %>
                      
            </div>
           
    </body>

</html>