<!DOCTYPE html>
<html lang="en">
<%- include('includes/head'); %>
<link rel="stylesheet" href="/css/card.css">
<link rel="stylesheet" href="/css/index.css">

<script>
    </script>
    
    <body>
        <%- include('includes/navuser'); %>
 
            <div class="container" style="margin-top:50px;" >
                <% if (message.type) { %>
                    <div class="alert alert-<%= message.type%>" role="alert">
                        <%= message.body %>
                    </div>
                    <% } %>
                    <h1 class="card-title" style="color: #fff;"> <i class="icon-shopping-cart"></i> SHOP </h1>
                   <center><div class="card" style="width: 50rem;">
                        
                    <div class="card-body">
                        <br>

                    <div class="row">
                        <% for(let i = 0; i < products.length; i++) { %>
                           
                            <div class="col-md-4">
                                        <div class="card-sl" style="margin-left : 16px;">
                                            
                                            <input type="hidden" name="id" value=<%=products._id %>>
                                            <div class="card-image">
                                                <img
                                                    src="<%= products[i].img%> " />
                                            </div>
                        
                                     
                                            <div class="card-heading">
                                                <%= products[i].name %> 
                                            </div>
                                            <div class="card-text">
                                               Version :  <%= products[i].version %> 
                                            </div>
                                            <div class="card-text">
                                                <%= products[i].price %> Point
                                            </div>
                                            <button onclick=buy(id) class="card-button">Purchase </button> 
                                        </div>
                                        <br>
                                    </div>
                              
                        <% } %>
                    </div>
                    </div>
                    </div></center> 
                </div>
            </div>
        
        </body>
        <%- include('includes/footer'); %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js " integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin=" anonymous "></script>
        <script src="/javascript/index.js "></script>
</html>