<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('includes/navadmin'); %>
    <div class="col-md-6 offset-md-3">
        <span class="anchor" id="formPayment"></span>
        <hr class="my-5">

        <!-- form card cc payment -->
        <div class="card card-outline-secondary">
            <div class="card-body">
                <h3 class="text-center">Update topup</h3>
                <hr>
                <form method="POST" id="updatetopup">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="hidden" name="id" value=<%=topup._id %>>
                        <input type="text" class="form-control" id="username" name="username" value="<%= topup.username %>">
                    </div>
                    <div class="form-group">
                        <label for="username">Amount</label>
                        <input type="text" class="form-control" id="amount" name="amount" value="<%= topup.amount %>">
                    </div>
                    <div class="form-group">
                        <label for="username">Ref</label>
                        <input type="text" class="form-control" id="ref" name="ref" value="<%= topup.ref %>">
                    </div>
                    <div class="form-group">
                        <label for="status">Status</label> &nbsp;&nbsp;&nbsp;
                        <select name="status" id="status"> 
                                <option value="waiting">Waiting</option>
                                <option value="accept">Confirm</option>
                                <option value="deny">Deny</option>
                              </select>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-success btn-lg btn-block update">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <%- include('includes/footer'); %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="/javascript/index.js"></script>
    </body>

</html>