<!DOCTYPE html>
<html lang="en">
<%- include('includes/head'); %>
<link rel="stylesheet" href="/css/index.css">
    <body>
      <%- include('includes/navadmin'); %>
           <div class="container">
            <br>
               <div class="row">
                  
      
                   <div class="card" width=30rem>
                    <br>
                        <h3 class ='card-title'> USER MANAGEMENT</h3>
                        <hr>

                        <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Username</th>
                                <th scope="col">Password</th>
                                <th scope="col">@Email</th>
                                <th scope="col">Point</th>
                                <th scope="col">Admin</th>
                                <th scope="col"> MENU</th>
                                <th scope="col"> MENU</th>
                              </tr>
                            </thead>
                            <tbody>
                              
                              <% for(var i = 0; i < users.length; i++) { %>
                                <tr>
                                  <th scope="row"><%= i + 1 %></th>
                                    <td><%= users[i].username %></td>
                                    <td> <%= users[i].password %></td>
                                    <td><%= users[i].email %> </td>
                                    <td><%= users[i].point %> </td>
                                    <td> <%= users[i].admin %></td>
                                  <td>
                                      <a href="/updateuser?id=<%= users[i]._id%>" class="btn btn-warning update"> Update <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span></a>
                                      </td>
                                  <td>
                                    <a class="btn btn-danger delete" data-id=<%=users[i]._id%>  <span class="text-gradient"> Delete  <i class="fas fa-times"></i></span>
                                  </td>
                                </tr>
                                <% } %>
                            </table>
                           
                        </table>
                        
                    </tbody>
                   </div>
               </div>
           </div>
           


    </body>
    <%- include('includes/footer'); %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js " integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin=" anonymous "></script>
    <script src="/javascript/index.js "></script>
  

</html>